{% extends 'template/layuiTemplate.html' %}

<!-- 引入静态文件 -->
{% set static = "/" + ctx.app.config.appId + "/public/" %}
{% set url = "/" +ctx.app.config.appId + "/page/" %}

{% block title %}<$ article.articleTitle $>{% endblock %}

{% block head_toolbar %}
    <div id="toc-container" class='sidebar doc-toc-hide layui-hide-xs'></div>
{% endblock %}

{% block content_head %}
    <h1>
        <$ article.articleTitle $>
    </h1>
    <hr>
{% endblock %}

{% block page_content %}
    <!--<div class="doc_cover" style="width: 100%; max-height: 280px; display: flex; justify-content: center;">
        <img title="封面" src="/upload/<$ article.articleCoverImage $>" style="object-fit: cover;">
    </div>-->
    <$ article.articleContentForSeo | safe $>
  <div id="articleContentHidden" class="articleContentHidden" style="position: absolute; top: -1000px; overflow: hidden; height: 0; width: 0;">
    <textarea style="display: none;"><$ article.articleContent $></textarea>
  </div>
{% endblock %}

{% block doc_bottom_block %}
    <div class="layui-row layui-col-space20" style="padding-left: 20px;">
        <span class="doc-bottom-icon">
            <i class="layui-icon layui-icon-user"></i>
            <$ article.articleUpdateUsername $>
        </span>
        <span tooltip="更新于:<$ article.articleUpdateTime $>" class="doc-bottom-icon">
            <i class="layui-icon layui-icon-log"></i>
            <$ article.articleUpdateTime $>
        </span>

        {% if article.articleTagList %}
            <i class="fa fa-tag"></i><$ article.articleTagList $>
        {% endif %}

        <!-- <button id="share" class="doc-bottom-btn" tooltip="转发本文档">
            <i class="layui-icon layui-icon-share"></i> 转发文档
        </button> -->

        <!-- <button class="doc-bottom-btn" tooltip="下载文档" id="download_doc">
            <i class="fa fa-download"></i> 下载文档
        </button> -->
    </div>
{% endblock %}

{% block right_widget %}
    <div class="editDoc layui-show-xs-inline-block" style="display: none;" onclick="showArticle()"><i class="layui-icon layui-icon-slider"></i></div>
    <div class="tocMenu layui-hide-xs" ><i class="fa fa-list"></i></div>
{% endblock %}


{% block custom_script %}
    <script>

      function showCategory() {
        // $('body').addClass('big-page');
        layer.open({
          type: 1,
          // r表示right,b表示bottom
          offset: 'lb',
          // 文集目录
          title: '文集目录',
          //
          // anim 特效 0-平滑放大 1-从上掉落 2-从底部往上滑入 3-从左滑入 4-从左翻转 5-渐显 6-抖动
          anim: 5,
          shadeClose: true, //开启遮罩关闭
          // 第一个参数宽度，第二个参数高度
          area: ['300px', '100%'],
          // 内容区 在body中写入<div id="draw">。。。。</div>代码，即弹窗内容
          content: $("#drawer").html(),
        })
      }

      function showArticle() {
        // $('body').addClass('big-page');
        layer.open({
          type: 1,
          // r表示right,b表示bottom
          offset: 'lb',
          // 文集目录
          title: '文章目录',
          //
          // anim 特效 0-平滑放大 1-从上掉落 2-从底部往上滑入 3-从左滑入 4-从左翻转 5-渐显 6-抖动
          anim: 5,
          shadeClose: true, //开启遮罩关闭
          // 第一个参数宽度，第二个参数高度
          area: ['300px', '100%'],
          // 内容区 在body中写入<div id="draw">。。。。</div>代码，即弹窗内容
          content: $(".doc-summary-parent").html(),
        })
      }
      initDocRender(1);
      // 图片放大显示
      var img_options = {
        url: 'data-original',
        fullscreen:false,//全屏
        rotatable:false,//旋转
        scalable:false,//翻转
        button:false,//关闭按钮
        toolbar:false,
        title:false,
      };
      var img_viewer = new Viewer(document.getElementById('content'), img_options);
    </script>
    <script>
        var layer = layui.layer;
        var form = layui.form;
        // 非小屏默认展开文档目录
        if (window.innerWidth > 1050) {
            $(".sidebar").toggleClass("doc-toc-hide");
        }
        // 切换文档目录显示与否
        $(".tocMenu").on("click", function () {
            $(".sidebar").toggleClass("doc-toc-hide");
        });
    </script>
<script src="<$ static $>toc/doctoc.js"></script>

{% endblock %}
