{% extends 'template/layuiTemplate.html' %}

{% block title %}<$ article.articleTitle $>{% endblock %}
{% block keyword %}<$ article.articleTagList $>{% endblock %}
<style>
    #canvas, .canvas {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
{% block content %}
<div class="doc layui-fluid">
  <!-- 左侧目录栏 -->
  <div class="doc-summary-parent">

    <div class="doc-summary">
      <!-- 文档搜索 -->
      <!-- <div id="doc-search-input">
          <input type="text" name="kw" placeholder="在分类内搜索文档" value="" class="layui-input doc-search-input">
      </div> -->
      <!-- 文集名称 -->
      <!--<div class="project-title">
          <$ article.articleTitle.split('-')[0] $>
      </div>-->
      <nav>
        <ul class="summary" style="padding-bottom: 80px">
          {% for node in article.articleList %}
          <li>
            <div style="display:flex;justify-content:space-between;">
              {% if not node.isGroup %}
              <a href="<$ pageUrl $>/article/<$ node.articleId $>" title="<$ children.articleTitle $>">
                <i class="iconfont mrdoc-icon-wendang"></i> <$ node.articleTitle $></a>
              {% endif %}
            </div>
          </li>
          {% endfor %}
          {% for node in article.articleList %}
          <li>
            <div style="display:flex;justify-content:space-between;">
              {% if node.isGroup %}
              <span title="<$ node.articleTitle $>" style="color: #999;font-size: 13px">
                                <$ node.articleTitle $>
                            </span>
              {% endif %}
            </div>
            {% if node.childrenList %}
            <ul class="sub-menu">
              {% for children in node.childrenList %}
              <li>
                <div style="display:flex;justify-content:space-between;">
                  <a href="<$ pageUrl $>/article/<$ children.articleId $>" title="<$ children.articleTitle $>">
                    <i class="iconfont mrdoc-icon-wendang"></i> <$ children.articleTitle $></a>
                </div>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="doc-body doc-ml-300 jianghu-body">
    <!-- 文档导航 -->
    <div class="doc-header" role="navigation">
      <a class="btn pull-left js-toolbar-action" aria-label="" href="javascript:void(0);" title="切换侧边栏">
        <i class="layui-icon layui-icon-read"></i>
      </a>
      <a class="btn pull-left font-small" href="javascript:void(0);" title="缩小字体">
        <i class="fa fa-font">-</i>
      </a>
      <a class="btn pull-left font-large" href="javascript:void(0);" title="放大字体">
        <i class="fa fa-font">+</i>
      </a>
      <!--<a class="btn pull-left font-switch" href="javascript:void(0);" title="切换字体类型">
        <i class="fa fa-text-height"></i>
      </a>-->
      {% if username %}
      <a class="btn pull-left" aria-label=""
         href="<$ adminUrl $>/page/articleEdit?articleId=<$ article.articleId $>&title=<$ article.articleTitle $>"
         target="_blank">
        <i class="layui-icon layui-icon-edit"></i> <span class="layui-hide-xs">修改</span>
      </a>
      <a class="btn pull-left" aria-label=""
         href="<$ adminUrl $>/page/articleEdit?categoryId=<$ article.categoryId $>&articleGroupName=<$ article.articleGroupName $>&articlePublishStatus=<$ article.articlePublishStatus $>"
         target="_blank">
        <i class="layui-icon layui-icon-add-1"></i> <span class="layui-hide-xs">新增</span>
      </a>
      {% endif %}
      <!-- 顶部工具栏 -->
      <div id="toc-container" class='sidebar doc-toc-hide'></div>
      <!--<a class="btn pull-right" aria-label="" href="<$ pageUrl $>/home">
          <i class="layui-icon layui-icon-home"></i> <span class="layui-hide-xs">首页</span>
      </a>-->
    </div>
    <!-- 文档主体 -->
    <div class="doc-body-content">
      <div class="doc-body-content-div">
        {% if project.is_watermark %}
        <div id="wm"></div>
        {% endif %}
        <!-- 文档内容 -->
        <div class="doc-content" id="doc-content">
          <!-- 封面 -->
          {% if article.articleCoverImage %}
          <div class="items-center-box" style="margin-bottom: 20px">
            <img style="width: 100%; background-color: #e0e0e0" src="/<$ ctx.app.config.appId $>/upload<$ article.articleCoverImage $>" alt=""/>
          </div>
          {% endif %}

          <div class="doc-info">
            <!-- 页面主体头信息 -->
            <h1 style="line-height: initial">
              <$ article.articleTitle $>
            </h1>
            <hr>
          </div>
          <!-- 音频 -->
          {% if article.articleAudioUrl %}
          <audio src="/<$ ctx.app.config.appId $>/upload/<$ article.articleAudioUrl $>" style="width: 100%;" controls preload></audio>
          {% endif %}
          <!-- 视频 -->
          {% if article.articleVideoUrl %}
          <video src="/<$ ctx.app.config.appId $>/upload/<$ article.articleVideoUrl $>" style="width: 100%; height: auto" controls preload></video>
          {% endif %}
          <!-- 正文开始 -->
          <div class="markdown-body editormd-preview-container" id="content">
            <$ article.articleContentForSeo | safe $>
            <div id="articleContentHidden" class="articleContentHidden"
                 style="position: absolute; top: -1000px; overflow: hidden; height: 0; width: 0;">
              <textarea style="display: none;"><$ article.articleContent $></textarea>
            </div>
          </div>
          <!-- 正文结束 -->
          <div class="markdown-body" style="padding-left: 20px;"></div>
        </div>
        <hr>
      </div>
    </div>
    <div class="doc-comment">
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>评论建议</legend>
      </fieldset>
      <form class="layui-form layui-form-pane" action="" lay-filter="" id="commentForm">
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">评论</label>
          <div class="layui-input-block">
            <textarea name="content" placeholder="请输入内容" required  lay-verify="required" class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">姓名</label>
          <div class="layui-input-block">
            <input type="text" name="username" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-block">
            <input type="text" name="email" required  lay-verify="email" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">

          <label class="layui-form-label" style="padding: 0">
            <canvas id="canvas" class="canvas" style="display: inline-block;cursor: pointer;width: 100%; height: 100%"></canvas>
          </label>
          <div class="layui-input-block">
            <input type="text" name="vercode" required  lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">发表评论</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="fixed-tool-bar">
    <div class="toTop layui-hide-xs-inline-block"><i class="layui-icon layui-icon-up"></i></div>
    <!--<div class="editDoc layui-show-xs-inline-block" style="display: none;text-align: center;width: auto" onclick="showArticle()">
        <button class="layui-btn layui-btn-radius">文章</button>
    </div>-->
    <div class="tocMenu"><i class="layui-icon layui-icon-more-vertical"></i></div>
  </div>
</div>
<script src="<$ static $>/jianghu.md/lib/purify.min.js"></script>
<script src="<$ static $>/jianghu.md/lib/marked.min.js"></script>
<script src="<$ static $>/jianghu.md/editormd.js"></script>
<script src="<$ static $>/viewer/viewer.min.js"></script>
<!--<script src="<$ static $>/iconFont/iconfont.js"></script>-->
<script src="<$ static $>/jianghu/jianghu-doc-docs.js"></script>
<script src="//api.html5media.info/1.2.2/html5media.min.js"></script>
<script>
  //Demo
  layui.use('form', function(){

    var $ = layui.$
      ,setter = layui.setter
      ,admin = layui.admin
      ,form = layui.form
      ,capcha = layui.captcha;

    var show_num = [];
    capcha.draw(show_num);
    //显示验证码
    $("#canvas").on('click',function(){
      capcha.draw(show_num);
    });

    //监听提交
    form.on('submit(formDemo)', function(data){
      var num = show_num.join("");
      var code = data.field["vercode"];
      //验证码判断
      if(code !== num){
        layer.msg('验证码错误,请重新输入', {icon: 5});
        capcha.draw(show_num);
        return false
      }
      // layer.msg(JSON.stringify(data.field));
      submitComment(data.field)
      return false;
    });
    async function submitComment(data) {
      const {content, email, username} = data;
      const {data: {appData : {resultData}, status}} = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'article',
            actionId: 'addComment',
            actionData: {content, email, username}
          }
        }
      });
      console.log(data)
      if (status === 'success') {
        layer.msg('提交成功');
        $('#commentForm')[0].reset();
      }
    }
  });
  /** layuiAdmin.std-v2020.1.24 LPPL License By https://www.layui.com/admin/
   captcha.js for layui
   author:yangyongzhen
   */
  layui.define(function(e) {
    var a = layui.jquery;
    var obj={
      randomColor:function() {//得到随机的颜色值
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
      },
      draw:function(show_num) {
        var canvas_width=a('#canvas').width();
        var canvas_height=a('#canvas').height();
        var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
        var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
        canvas.width = canvas_width;
        canvas.height = canvas_height;
        var sCode = "A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
        var aCode = sCode.split(",");
        var aLength = aCode.length;//获取到数组的长度

        for (var i = 0; i <= 3; i++) {
          var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
          var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
          var txt = aCode[j];//得到随机的一个内容
          show_num[i] = txt.toLowerCase();
          var x = 10 + i * 20;//文字在canvas上的x坐标
          var y = 20 + Math.random() * 8;//文字在canvas上的y坐标
          context.font = "bold 23px 微软雅黑";

          context.translate(x, y);
          context.rotate(deg);

          context.fillStyle = obj.randomColor();
          context.fillText(txt, 0, 0);

          context.rotate(-deg);
          context.translate(-x, -y);
        }
        for (var i = 0; i <= 5; i++) { //验证码上显示线条
          context.strokeStyle = obj.randomColor();
          context.beginPath();
          context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
          context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
          context.stroke();
        }
        for (var i = 0; i <= 30; i++) { //验证码上显示小点
          context.strokeStyle = obj.randomColor();
          context.beginPath();
          var x = Math.random() * canvas_width;
          var y = Math.random() * canvas_height;
          context.moveTo(x, y);
          context.lineTo(x + 1, y + 1);
          context.stroke();
        }
      },
    };
    e("captcha", obj);
  });
  // 展示左侧目录
  function showArticle() {
    layer.open({
      type: 1,
      // r表示right,b表示bottom
      offset: 'lb',
      // 文集目录
      title: '目录',
      move: false,
      // anim 特效 0-平滑放大 1-从上掉落 2-从底部往上滑入 3-从左滑入 4-从左翻转 5-渐显 6-抖动
      anim: 5,
      shadeClose: true, //开启遮罩关闭
      // 第一个参数宽度，第二个参数高度
      area: ['300px', '100%'],
      // 内容区 在body中写入<div id="draw">。。。。</div>代码，即弹窗内容
      content: $(".doc-summary-parent").html(),
    })
  }

  initDocRender(1);
  // 图片放大显示
  var img_options = {
    url: 'data-original',
    fullscreen: false,//全屏
    rotatable: false,//旋转
    scalable: false,//翻转
    button: false,//关闭按钮
    toolbar: false,
    title: false,
  };
  var img_viewer = new Viewer(document.getElementById('content'), img_options);
</script>
<script>
  var layer = layui.layer;
  // 非小屏默认展开文档目录
  if (window.innerWidth > 1050) {
    $(".sidebar").toggleClass("doc-toc-hide");
  }
  // 切换文档目录显示与否
  $(".tocMenu").on("click", function () {
    $(".sidebar").toggleClass("doc-toc-hide");
  });
</script>

<script src="<$ static $>/toc/doctoc.js"></script>
{% endblock %}
