{% extends 'template/jhTemplateV3.html'%}
{% set url = "/" +ctx.app.config.appId + "/page/" %}

{% block vue_template %}
<!-- 编辑文章页 -->
<jh-layout-v3>

<template slot="serverSearch">
  <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}" align="center"
         style="height: 100%;">
    <v-col class="d-flex" :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="justify-content: end">
      <v-btn v-if="editItem.articleId && editItem.articlePublishStatus !== 'deleted'" @click="deletedArticle"
             color="error mr-1" depressed>
        <v-icon class="mr-1" small>mdi-trash-can</v-icon>
        移到回收站
      </v-btn>
      <v-btn v-if="editItem.articlePublishStatus === 'deleted'" @click="restoreArticle" color="error mr-1" depressed>
        <v-icon class="mr-1" small>mdi-backburger</v-icon>
        恢复文章
      </v-btn>
      <v-btn @click="saveInfo" color="success" class="mr-1" depressed>
        <v-icon class="mr-1" small>mdi-content-save-all</v-icon>
        保存
      </v-btn>
      <v-btn @click="saveInfoAndPreview" color="success" depressed>
        <v-icon class="mr-1" small>mdi-eye-refresh</v-icon>
        保存并预览
      </v-btn>
    </v-col>
  </v-row>
</template>
<!-- 页面主要内容 -->
<v-card style="min-height: calc(100vh - 150px);background-color: #f5f8fa;">
  <v-form v-model="isFormValid" ref="form">
    <div class="d-flex flex-column pb-8">
      <v-row dense no-gutters>
        <v-col cols="12" xs="12" sm="4" md="3" xl="2">
          <v-card class="pa-4" flat>
            <!-- <v-toolbar flat dense>
              <p class="font-weight-medium mb-0" style="font-size: 16px;">
                基本信息
              </p>
            </v-toolbar> -->
            <v-card-text class="pa-0">
              <span class="inputLabel">文章标题</span>
              <v-text-field class="mb-2" dense filled color="success" single-line hide-details
                            v-model="editItem.articleTitle"
                            :rules="requireRules"></v-text-field>

              <span class="inputLabel">分类</span>
              <v-row class="pt-0 ma-0 mb-2">
                <v-select @mouseup="openSelectCategoryDialog" v-model="editItem.categoryId" color="success"
                          :items="constantCollection.category" :rules="requireRules" readonly hide-details dense
                          filled single-line hide-no-data hide-selected/>
              </v-row>
              <span class="inputLabel">标签</span>
              <v-row class="pt-0 ma-0 mb-2">
                <v-textarea class="cus-v-input" rows="2" dense filled single-line color="success"
                            v-model="editItem.articleTagList"></v-textarea>
              </v-row>
              <span class="inputLabel">文章分组</span>
              <v-row class="pt-0 ma-0 mb-2">
                <v-text-field class="cus-v-input" hide-details dense filled single-line color="success" label="文章分组"
                              v-model="editItem.articleGroupName">
                </v-text-field>
              </v-row>
              <span class="inputLabel">发布状态</span>
              <v-row class="pt-0 ma-0 mb-2">
                <v-select v-model="editItem.articlePublishStatus" :items="constantCollection.articlePublishStatus"
                          color="success"
                          :rules="requireRules" hide-details dense filled single-line hide-no-data hide-selected/>
              </v-row>
              <span class="inputLabel">发布时间</span>
              <v-row class="pt-0 ma-0 mb-2">
                <v-menu offset-y max-width="290">
                  <template v-slot:activator="{ on, attrs }">
                    <DatetimePicker okText="确定" clearText="清除" v-model="editItem.articlePublishTime"
                                    :disabled="false"></DatetimePicker>
                  </template>
                  <div>
                  </div>
                </v-menu>
              </v-row>
            </v-card-text>
          </v-card>


          <v-card class="pa-4 mt-4" flat>

            <v-toolbar flat dense>
              <p class="font-weight-medium mb-0" style="font-size: 16px;">
                封面
              </p>
              <v-spacer></v-spacer>
              <v-btn
                  outlined
                  small
                  fab
                  style="width: 20px;height:20px"
                  @click="imagePicker"
              >
                <v-icon small>mdi-upload-outline</v-icon>
              </v-btn>
              <v-btn
                  outlined
                  small
                  fab
                  class="ml-2"
                  color="error"
                  style="width: 20px;height:20px"
                  @click.stop="clearImage"
                  v-if="editItem.articleCoverImage"
              >
                <v-icon small>mdi-trash-can-outline</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text class="pa-0 text-center">
              <img v-if="editItem.articleCoverImage" :src="upload + editItem.articleCoverImage" alt=""
                   style="width: 100%; height: 100%; object-fit: cover;">
              <p v-else class="text-center">暂无封面~</p>
            </v-card-text>
          </v-card>


          <v-card class="pa-4 mt-2" flat>
            <v-toolbar flat dense>
              <p class="font-weight-medium mb-0" style="font-size: 16px;">
                音频
              </p>
              <v-spacer></v-spacer>
              <v-btn
                  outlined
                  small
                  fab
                  style="width: 20px;height:20px"
                  @click="audioPicker"
              >
                <v-icon small>mdi-upload-outline</v-icon>
              </v-btn>
              <v-btn
                  outlined
                  small
                  fab
                  class="ml-2"
                  color="error"
                  style="width: 20px;height:20px"
                  @click.stop="clearAudio"
                  v-if="editItem.articleAudioUrl"
              >
                <v-icon small>mdi-trash-can-outline</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text class="px-0 text-center">
              <audio style="max-width: 100%;" v-if="editItem.articleAudioUrl"
                     :src="`/<$ ctx.app.config.appId $>/upload/${editItem.articleAudioUrl}?v=${new Date().getTime()}`"
                     controls>
                <source
                    :src="`/<$ ctx.app.config.appId $>/upload/${editItem.articleAudioUrl}?v=${new Date().getTime()}`"
                    type="audio/mpeg">
              </audio>
              <p v-else class="text-center">暂无音频~</p>
            </v-card-text>
          </v-card>

          <v-card class="pa-4 mt-2" flat>
            <v-toolbar flat dense>
              <p class="font-weight-medium mb-0" style="font-size: 16px;">
                视频
              </p>
              <v-spacer></v-spacer>
              <v-btn
                  outlined
                  small
                  fab
                  style="width: 20px;height:20px"
                  @click="videoPicker"
              >
                <v-icon small>mdi-upload-outline</v-icon>
              </v-btn>
              <v-btn
                  outlined
                  small
                  fab
                  class="ml-2"
                  color="error"
                  style="width: 20px;height:20px"
                  @click.stop="clearVideo"
                  v-if="editItem.articleVideoUrl"
              >
                <v-icon small>mdi-trash-can-outline</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text class="px-0">
              <video style="max-width: 100%;" v-if="editItem.articleVideoUrl"
                     :src="`/<$ ctx.app.config.appId $>/upload/${editItem.articleVideoUrl}?v=${new Date().getTime()}`"
                     controls>
                <source
                    :src="`/<$ ctx.app.config.appId $>/upload/${editItem.articleVideoUrl}?v=${new Date().getTime()}`"
                    type="video/mp4">
              </video>
              <p v-else class="text-center">暂无视频~</p>
            </v-card-text>
          </v-card>
        </v-col>

        <v-col cols="12" xs="12" sm="8" md="9" xl="10">
          <v-card flat style="height: 80vh;" class="ml-4">
            <div id="editorMdContainer">
              <textarea style="display:none;">{{ editItem.articleContent }}</textarea>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-form>

  <!-- 选择素材 -->
  <v-dialog v-model="isEditDrawerShow" hide-overlay fullscreen transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar
          dark
          width="100%"
          style="background-color: #fff;"
      >
        <div class="black--text ml-2" style="font-size: 16px;">选择素材</div>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn
              text
              @click="isEditDrawerShow = false"
          >
            <v-icon class="black--text">mdi-close</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-divider style="border-color: #eff2f5;opacity:0.8;"></v-divider>
      <file-browser v-if="isEditDrawerShow" v-on:use-material="useMaterial"
                    v-on:close-material-picker="closeMaterialPicker" :material-type="materialType">
      </file-browser>
    </v-card>
  </v-dialog>
  <SingleSelectDialog v-model="isSelectCategoryDialogShow" :dataList="constantCollection.category" title="选择分类"
                      @close="isSelectCategoryDialogShow=false" @done="onSelectCategory"/>
</v-card>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}


{% include 'component/fileBrowser/FileBrowser.html' %}
{% include 'component/singleSelectDialog.html' %}
{% include 'component/datetimePicker.html' %}
{% include 'component/articleEditor/articleEditorCss.html' %}
<link rel="stylesheet" href="/<$ ctx.app.config.appId $>/public/plugins/editor.md/css/editormd.min.css"/>
<link href="/<$ ctx.app.config.appId $>/public/articleViewer/font-awesome.min.css?v=6.0.0"/>
<script src="/<$ ctx.app.config.appId $>/public/js/lib/jquery.min.js"></script>
<script src="/<$ ctx.app.config.appId $>/public/plugins/editor.md/editormd.js"></script>

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    articleId: null,
    isSelectCategoryDialogShow: false,
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || '此项为必填项',
    ],
    constantCollection: {
      category: [],
      articleTagList: [],
      articlePublishStatus: [
        {text: "公开", value: "public"},
        {text: "登录可见", value: "login"},
        {text: "草稿", value: "draft"},
        {text: "回收站", value: "deleted"},
      ],
      categoryList: [
        {text: "全部类目", value: "all"},
      ],
    },
    newArticleTagList: [],
    upload: window.appInfo.upload,
    localImage: null,
    localAudio: null,
    localVideo: null,
    localImageBase64: null,
    isEditDrawerShow: false,
    tableFilterKeyword: null,
    isTableLoading: true,
    tableDataBackups: [],
    currentClickButton: {
      title: '新增文章',
      action: 'add'
    },
    editItem: {
      articlePublishStatus: 'public'
    },
    tableRowActionList: [{
      text: '修改',
      buttonType: 'edit',
      color: 'success',
    }, {
      text: '删除',
      buttonType: 'delete',
      color: 'error',
    },],
    search: '',
    materialType: '',
    writeBackType: '',
    editor: null,
    mdChanged: false,
    toolbarIcons: [
      "undo", "redo", "|",
      "watch",
      "preview", "|",
      "h1", "h2", "h3", "h4", "h5", "bold", "del", "italic", "quote", "mark",
      "imageUpload",
      "list-ul", "list-ol", "hr", "link", "|",
      "toggle", "articleQuery"
    ]
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataBackups;
    },
    getEditItem() {
      return this.editItem;
    }
  },
  watch: {},
  async created() {
    this.getLocationParams();
    this.buildSelectCategoryOptionList();
  },
  async mounted() {
    if (this.articleId) {
      await this.getTableData();
    }
    this.initEditorMd();

    // 未保存离开提示
    const that = this;
    window.onbeforeunload = function () {
      if (that.mdChanged) {
        return 1;
      } else {
        return null;
      }
    }
  },
  methods: {
    async buildSelectCategoryOptionList() {
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'articleEdit',
            actionId: 'selectCategoryList',
            actionData: {},
            whereIn: {categoryPublishStatus: ['public', 'login']},
            orderBy: [{column: 'categoryGroup', order: 'asc'}, {column: 'categoryGroupSort', order: 'asc'}]
          }
        }
      })).data.appData.resultData;
      rows.forEach(item => {
        const text = `${item.categoryGroupConcat || ''}${item.categoryName} [共${item.count}篇]`;
        this.constantCollection.category.push({text, value: item.categoryId + ""});
      })
    },
    getLocationParams() {
      const searchParams = new URLSearchParams(location.search.substring(1));
      this.articleId = searchParams.get('articleId');
      if (searchParams.get('categoryId')) {
        this.editItem.categoryId = searchParams.get('categoryId')
      }
      if (searchParams.get('articleGroupName')) {
        this.editItem.articleGroupName = searchParams.get('articleGroupName')
      }
      if (searchParams.get('articlePublishStatus')) {
        this.editItem.articlePublishStatus = searchParams.get('articlePublishStatus')
      }
    },
    openSelectCategoryDialog() {
      this.isSelectCategoryDialogShow = true
    },
    onSelectCategory(item) {
      this.editItem.categoryName = "";
      this.editItem.categoryId = item.value
    },
    async setLocalImage(event) {
      const file = event.target.files[0];
      window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
      const {downloadPath} = (await window.jianghuAxios.httpUploadByStream({
        file,
        fileDirectory: `articleMaterial/${this.articleId}`,
        onProgress: (total, loaded) => this.onProgress(total, loaded, file)
      })).data.appData.resultData;
      this.editItem.articleCoverImage = downloadPath;
    },
    async setLocalAudio(event) {
      const file = event.target.files[0];
      window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
      const {downloadPath} = (await window.jianghuAxios.httpUploadByStream({
        file,
        fileDirectory: `articleMaterial/${this.articleId}`,
        onProgress: (total, loaded) => this.onProgress(total, loaded, file)
      })).data.appData.resultData;
      if (downloadPath) {
        this.localAudio = `/${window.appInfo.appId}/upload${downloadPath}`;
        this.editItem.articleAudioUrl = downloadPath;
      }
    },
    async setLocalVideo(event) {
      const file = event.target.files[0];
      window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
      const {downloadPath} = (await window.jianghuAxios.httpUploadByStream({
        file,
        fileDirectory: `articleMaterial/${this.articleId}`,
        onProgress: (total, loaded) => this.onProgress(total, loaded, file)
      })).data.appData.resultData;
      if (downloadPath) {
        this.localVideo = `/${window.appInfo.appId}/upload${downloadPath}`;
        this.editItem.articleVideoUrl = downloadPath;
      }
    },
    onProgress(total, loaded, file) {
      const progress = Number((loaded * 100 / total).toFixed(2));
      window.vtoast.loading(`${file.name} 上传进度: ${progress}%`);
      if (loaded === total) {
        window.vtoast.success(`${file.name} 上传进度: 100%`);
      }
    },
    clearImage() {
      this.editItem.articleCoverImage = null;
    },
    clearAudio() {
      this.editItem.articleAudioUrl = null;
    },
    clearVideo() {
      this.editItem.articleVideoUrl = null;
    },
    closeMaterialPicker() {
      this.isEditDrawerShow = false;
    },
    async imagePicker() {
      if (!await this.articleIdCheck()) {
        window.vtoast.fail("请填写文章信息后,再点击上传文件!");
        return
      }
      // document.getElementById('imageInput').click();
      this.materialType = 'image';
      this.writeBackType = 'attachment';
      this.isEditDrawerShow = true;
    },
    async audioPicker() {
      if (!await this.articleIdCheck()) {
        window.vtoast.fail("请填写文章信息后,再点击上传文件!");
        return
      }
      // document.getElementById('audioInput').click();
      this.materialType = 'audio';
      this.writeBackType = 'attachment';
      this.isEditDrawerShow = true;
    },
    async videoPicker() {
      if (!await this.articleIdCheck()) {
        window.vtoast.fail("请填写文章信息后,再点击上传文件!");
        return
      }
      // document.getElementById('videoInput').click();
      this.materialType = 'video';
      this.writeBackType = 'attachment';
      this.isEditDrawerShow = true;
    },
    initEditorMd() {
      const that = this;
      this.$nextTick(() => {
        if (document.getElementById('editorMdContainer')) {
          document.getElementById('editorMdContainer').innerHTML = `<textarea style=\"display:none;\">${this.editItem['articleContent'] || ""}</textarea>`;
          that.editor = editormd('editorMdContainer', {
            // width  : "100%",
            // height : "100%",
            watch: false,
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
            path: '/<$ ctx.app.config.appId $>/public/plugins/editor.md/lib/',
            toolbarIcons: that.toolbarIcons,
            toolbarIconsClass: {
              imageUpload: 'fa-image',
              audioUpload: 'fa-file-audio-o',
              videoUpload: 'fa-youtube-play',
              attachmentUpload: 'fa-upload',
            },
            toolbarIconTexts: {
              toggle: "<i class='fa fa-expand' name='toggle' unselectable='on' style='display: inline-block;'></i><span class='ml-1'>收缩</span>",  // 如果没有图标，则可以这样直接插入内容，可以是字符串或HTML标签
              articleQuery: "<i class='fa fa-table' name='toggle' unselectable='on' style='display: inline-block;'></i><span class='ml-1'>列表</span>",  // 如果没有图标，则可以这样直接插入内容，可以是字符串或HTML标签
            },
            toolbarHandlers: {
              imageUpload: function (cm, icon, cursor, selection) {
                that.openImageUploadDrawer();
              },
              toggle: function (cm, icon, cursor, selection) {
                cm.replaceSelection(`\n[jh-toggle title=\"折叠容器\" default-open=\"true\"]\n折叠容器内容\n[/jh-toggle]\n`);
              },
              articleQuery: function (cm, icon, cursor, selection) {
                cm.replaceSelection("\n[jh-toggle title=\"列表标题\" state=\"open\"]\n[jh-article-query]\n{\n\"where\": \"\",\n\"queryType\": \"order\",\n\"orderBy\": \"order by articleTitle asc\",\n\"limit\": 50\n}\n[/jh-article-query]\n[/jh-toggle]\n");
              }

            },
            lang: {
              toolbar: {
                toggle: "展开收起",
                column: "横向排列",  // 自定义按钮的提示文本，即title属性
                articleQuery: "数据列表",
              }
            },
            onchange: function () {
              that.mdChanged = true;
              that.editItem.articleContent = this.getMarkdown();
              that.editItem.articleContentForSeo = this.getPreviewedHTML2();
            },
          });
        } else {
          requestAnimationFrame(() => {
            this.initEditorMd();
          })
        }
      })
    },
    async openImageUploadDrawer() {
      if (await this.articleIdCheck()) {
        this.materialType = 'image';
        this.writeBackType = 'editor';
        this.isEditDrawerShow = true;
      }
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'articleEdit',
            actionId: 'selectArticleWithCategory',
            actionData: {
              articleId: this.articleId
            },
          }
        }
      });
      this.editItem = result.data.appData.resultData;

      this.isTableLoading = false;
    },
    async articleIdCheck() {
      if (!this.articleId) {
        return await this.insertItem();
      }
      return true;
    },
    /**
     * 移除到回收站
     */
    async deletedArticle() {
      const dialogTapDone = await window.confirmDialog({
        title: '<$ constantUiMap.common.recycle $>',
        content: '<$ constantUiMap.article.recyclingConfirmation $>？'
      });
      if (dialogTapDone) {
        await window.vtoast.loading("<$ constantUiMap.article.recyclingArticles $>");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'articleEdit',
              actionId: 'deletedArticle',
              actionData: {articleId: this.articleId}
            }
          }
        });
        await window.vtoast.success("<$ constantUiMap.article.recyclingArticlesSuccess $>");
        this.getTableData();
      }
    },
    async restoreArticle() {
      const dialogTapDone = await window.confirmDialog({
        title: '<$ constantUiMap.common.recover $>',
        content: '<$ constantUiMap.article.restoreArticleConfirm $>？'
      });
      if (dialogTapDone) {
        await window.vtoast.loading("<$ constantUiMap.article.recoverArticle $>");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'articleEdit',
              actionId: 'restoreArticle',
              actionData: {articleId: this.articleId}
            }
          }
        });
        await window.vtoast.success("<$ constantUiMap.article.recoverArticlesSuccessfully $>");
        this.getTableData();
      }
    },
    /**
     * 保存数据
     */
    async saveInfo() {
      // 处理 articleTagList
      if (!this.editItem.articleTagList) {
        this.editItem.articleTagList = '';
      }
      const parts = this.editItem.articleTagList.replace(/，/g, ',').split(',')
      this.editItem.articleTagList = parts.map(item => item.trim()).join(',')
      this.editItem.articlePublishTime = dayjs(this.editItem.articlePublishTime).format();
      if (this.getEditItem.id) {
        await this.updateItem();
      } else {
        await this.insertItem();
      }
    },
    // 保存并预览
    async saveInfoAndPreview() {
      await this.saveInfo();
      window.location.href = `/${window.appInfo.appId}/page/article/${this.getEditItem.articleId}`;
    },
    /**
     * 新增文章
     */
    async insertItem() {
      if (!this.$refs.form.validate()) return false;
      const {id, articleList, categoryName, ...saveInfo} = this.getEditItem;
      await window.vtoast.loading("新增文章");
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'articleEdit',
            actionId: 'jhInsertItem',
            actionData: saveInfo
          }
        }
      });
      await window.vtoast.success("新增文章成功");
      // 按id获取新文章并跳转新 url
      await this.reopenEditByArticleId(result.data.appData.resultData.rows[0]);
      return true;
    },
    // 按id获取新文章并跳转新 url
    async reopenEditByArticleId(id) {
      // 按id获取新文章并跳转新 url
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'articleEdit',
            actionId: 'selectItemList',
            actionData: {},
            where: {id},
          }
        }
      })).data.appData.resultData;
      const newArticle = rows[0];
      const {articleId, articleTitle} = newArticle
      this.articleId = articleId;
      this.mdChanged = false;
      await this.getTableData();
      const newUrl = `/${window.appInfo.appId}/page/articleEdit?articleId=${articleId}&title=${articleTitle}`;
      history.pushState({}, null, newUrl);
    },
    /**
     * 保存文章
     */
    async updateItem() {
      if (!this.$refs.form.validate()) return false;
      const {id, articleList, categoryName, ...saveInfo} = this.getEditItem;
      await window.vtoast.loading("修改文章");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'articleEdit',
            actionId: 'jhUpdateItem',
            actionData: saveInfo,
            where: {
              articleId: this.getEditItem.articleId
            }
          }
        }
      })
      await window.vtoast.success("修改文章成功");
      this.mdChanged = false;
      await this.getTableData();
      const newUrl = `/${window.appInfo.appId}/page/articleEdit?articleId=${this.getEditItem.articleId}&title=${this.getEditItem.articleTitle}`;
      history.pushState({}, null, newUrl);
    },
    async useMaterial({path}) {
      let filename, downloadPath = null;
      if (this.materialType === 'image') {
        const resultData = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'articleEdit',
              actionId: 'useMaterial',
              actionData: {
                articleId: this.articleId,
                path,
              },
            }
          }
        })).data.appData.resultData;
        filename = resultData.filename;
        downloadPath = resultData.downloadPath;
      } else {
        downloadPath = `/materialRepo${path}`;
        filename = path.substring(path.lastIndexOf('/') + 1);
      }

      this.isEditDrawerShow = false;
      if (this.writeBackType === 'editor') {
        this.editHandlerWhenUseMaterial(filename, downloadPath);
      } else {
        this.saveHandlerWhenUseMaterial(downloadPath);
      }
    },
    saveHandlerWhenUseMaterial(downloadPath) {
      if(this.materialType === 'image') {
        this.editItem.articleCoverImage = downloadPath;
        return;
      }
      if(this.materialType === 'audio') {
        this.editItem.articleAudioUrl = downloadPath
        return;
      }
      if(this.materialType === 'video') {
        this.editItem.articleVideoUrl = downloadPath
      }
    },
    editHandlerWhenUseMaterial(filename, downloadPath) {
      if(this.materialType === 'image') {
        this.editor.insertValue(`\n![${filename}](/upload${downloadPath})`);
        return;
      }
      if(this.materialType === 'audio') {
        this.editor.insertValue(`\n![=audio](/upload${downloadPath})`);
        return;
      }
      if(this.materialType === 'video') {
        this.editor.insertValue(`\n![=video](/upload${downloadPath})`);
      }
    },
    closePage() {
      window.history.back();
    },
    getFileName(path) {
      if (path) {
        return path.substring(path.lastIndexOf('/') + 1);
      }
      return "点击上传";
    }
  }
})
</script>

<style scoped>
body {
  overflow: auto;
}

.v-card {
  height: unset;
}

:root {
  --border-color: #eff2f5;
}

.v-dialog--fullscreen .v-sheet {
  height: auto;
  position: relative;
  background: #fff;
  display: block;
}

.editormd, .CodeMirror-gutters, .editormd-toolbar, .editormd .CodeMirror, .editormd-menu > li.divider, .editormd-menu > li > a:hover, .editormd-menu > li > a.active {
  border-color: var(--border-color) !important;
}

.CodeMirror-gutter {
  background-color: #fff;
}

.CodeMirror-scroll {
  overflow-x: hidden !important;
}

.editormd-dialog-close {
  color: #3F4254 !important;
}

.editormd-preview-container ol.linenums li, .editormd-html-preview ol.linenums li {
  list-style-type: none;
}

.editormd-preview-container ol.linenums, .editormd-html-preview ol.linenums {
  color: #999;
  padding-left: 0;
}
</style>
{% endblock %}
