{% extends 'template/layuiTemplate.html' %}

{% block title %}首页{% endblock %}

{% block content %}
<div class="jianghu-default-layout-content jianghu-body">
    <div class="jianghu-egg-intro">
        <div class="jianghu-egg-intro-wrap">
            <div class="jianghu-egg-intro-logo"><a href=""><img
                    src="https://zos.alipayobjects.com/rmsportal/JFKAMfmPehWfhBPdCjrw.svg"></a></div>
            <div class="jianghu-egg-intro-info">
                <h1><p class="jianghu-egg-intro-info-stronge">Born to build</p>better enterprise frameworks and apps with
                    Node.js &amp; Koa
                </h1>
                <p>小白也能使用的企业级框架</p>
                <div class="jianghu-egg-intro-buttons"><a class="jianghu-egg-intro-button jianghu-egg-intro-button-primary"
                                                         href="">开始使用</a><a
                        class="jianghu-egg-intro-button jianghu-egg-intro-button-secondary"
                        href="https://github.com/eggjs/egg/">GitHub</a></div>
            </div>
        </div>
    </div>
    <div class="jianghu-egg-features">
        <div class="jianghu-egg-features-wrap">
            <div class="jianghu-egg-features-item">
                <div class="jianghu-egg-features-item-icon"><img src="<$ static $>/images/home/icon-3.png"></div>
                <h2>完善的生态</h2>
                <p>基于开源生态，专为泛蚂蚁生态定制，一分钟接入后端服务中间件，支持多种部署环境。</p></div>
            <div class="jianghu-egg-features-item">
                <div class="jianghu-egg-features-item-icon"><img src="<$ static $>/images/home/icon-4.png"></div>
                <h2>高效自然的研发体验</h2>
                <p>渐进式开发，学习曲线平滑，提供一站式开发套件，为研发全流程保驾护航。</p></div>
            <div class="jianghu-egg-features-item">
                <div class="jianghu-egg-features-item-icon"><img src="<$ static $>/images/home/icon-2.png"></div>
                <h2>高质量、可信赖</h2>
                <p>高质量，完备的测试，内置集团安全策略，双十一等线上大规模顶级流量压力考验。</p></div>
            <div class="jianghu-egg-features-item">
                <div class="jianghu-egg-features-item-icon"><img src="<$ static $>/images/home/icon-1.png"></div>
                <h2>灵活、高扩展性</h2>
                <p>约定优于配置，高度灵活的定制性，业界领先的插件机制和上层业务框架机制。</p></div>
        </div>
    </div>
    <div class="jianghu-egg-links">
        <div class="jianghu-egg-links-wrap">
            <div class="jianghu-egg-links-item">
                <div class="ant-list">
                    <div class="ant-list-header">Resources</div>
                    <div class="ant-spin-nested-loading">
                        <div class="ant-spin-container">
                            <ul class="ant-list-items">
                                <li class="ant-list-item"><a href="" target="_blank">Egg</a>
                                </li>
                                <li class="ant-list-item"><a href="" target="_blank">Organization</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianghu-egg-links-item">
                <div class="ant-list">
                    <div class="ant-list-header">XTech</div>
                    <div class="ant-spin-nested-loading">
                        <div class="ant-spin-container">
                            <ul class="ant-list-items">
                                <li class="ant-list-item"><a href="" target="_blank">EggJS - 企业级
                                    Node.js 开发框架</a></li>
                                <li class="ant-list-item"><a href="" target="_blank">Ant Design - UI
                                    体系</a></li>
                                <li class="ant-list-item"><a href="" target="_blank">AntV - 数据可视化</a>
                                </li>
                                <li class="ant-list-item"><a href="" target="_blank">语雀 -
                                    知识创作与分享工具</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianghu-egg-links-item">
                <div class="ant-list">
                    <div class="ant-list-header">Community</div>
                    <div class="ant-spin-nested-loading">
                        <div class="ant-spin-container">
                            <ul class="ant-list-items">
                                <li class="ant-list-item"><a href="" target="_blank">CNode 社区</a>
                                </li>
                                <li class="ant-list-item"><a href="" target="_blank">Node.js
                                    专栏</a></li>
                                <li class="ant-list-item"><a href="" target="_blank">提交反馈</a>
                                </li>
                                <li class="ant-list-item"><a href=""
                                                             target="_blank">发布日志</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jianghu-egg-links-item">
                <div class="ant-list">
                    <div class="ant-list-header">Egg.js Dingtalk</div>
                    <div class="ant-spin-nested-loading">
                        <div class="ant-spin-container">
                            <ul class="ant-list-items">
                                <li class="ant-list-item"><img class="jianghu-egg-links-qrcode"
                                                               src="<$ static $>/images/home/qrcode_dingtalk.png"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jianghu-egg-copyright">Copyright © 2022 Eggjs.org</div>
</div>
<div class="layui-row project-list-page" style="text-align: center;">
</div>

<link href="<$ static $>/jianghu/jianghu-home.css" rel="stylesheet">
{% endblock %}
