{% extends 'template/template.html' %}

{% block title %}<$ constantUiMap.button.homeTitle $>{% endblock %}

{% block content %}
{% include 'util/jianghu/jianghuHomeCss.html' %}
<!-- home -->
<main class="jianghu-home">
  <section class="jianghu-home-hero">
    <div>
      <p class="jianghu-home-hero-tagline"><$ constantUiMap.body.title | safe $></p>
      <p class="jianghu-home-hero-description"><$ njk.string $></p>
    </div>
  </section>
  <hr class="divider-horizontal jianghu-home-divider" />
  <section class="jianghu-home-highlights">
    {% for item in njk.array %}
    <div class="jianghu-home-highlights-box">
      <h2 class="jianghu-home-highlights-title"><$ item.title $></h2>
      <p class="jianghu-home-highlights-description"><$ item.id $></p>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
{% block javascript %}
    <script>
      // 错误提示
      const searchParams = new URLSearchParams(location.search.substring(1));
      const errorInfo = <$ constantUiMap.errorInfo | dump | safe $>;
      const errorCode = searchParams.get('errorCode');
      const errorReason = searchParams.get('errorReason');
      if (errorCode) {
        showFailAlert(errorInfo.contentEnum[errorCode] || errorReason)
      }
    </script>
{% endblock %}
