<template id="fileBrowser">
  <v-card class="d-flex flex-column" flat>
    <v-toolbar flat dense class="px-4 mt-2">
      <template v-if="!(path && isDir)">
        <breadcrumbs
            :path="path"
            :storages="storagesArray"
            :storage="activeStorage"
            v-on:storage-changed="storageChanged"
            v-on:path-changed="pathChanged">
        </breadcrumbs>
        <div class="flex-grow-1"></div>
      </template>
      <toolbar
          ref="toolbar"
          :operation-option="operationOption"
          :path="path"
          :storages="storagesArray"
          :storage="activeStorage"
          :endpoints="endpoints"
          :axios="axiosInstance"
          :current-copy-path="currentCopyPath"
          v-on:storage-changed="storageChanged"
          v-on:path-changed="pathChanged"
          v-on:copy-item="copyItem"
          v-on:cut-item="cutItem"
          v-on:paste-item="pasteItem"
          v-on:add-files="addUploadingFiles"
          v-on:folder-created="refreshPending = true"
          v-on:use-material="useMaterial"
          v-on:close-material-picker="closeMaterialPicker"
      >
      </toolbar>
      <template v-if="path && isDir">
        <div class="flex-grow-1"></div>
        <div style="width: 300px;">
          <v-text-field
              dense
              filled
              single-line
              hide-details="auto"
              label="Search Files & Folders" v-model="filter" prepend-inner-icon="mdi-magnify"
              color="success"></v-text-field>
        </div>
      </template>
    </v-toolbar>
    <v-row no-gutters>
      <v-col v-if="tree && $vuetify.breakpoint.smAndUp" sm="auto">
        <tree
            ref="tree"
            :material-type="materialType"
            :path="path"
            :storage="activeStorage"
            :icons="icons"
            :endpoints="endpoints"
            :axios="axiosInstance"
            :refresh-pending="refreshPending"
            v-on:path-changed="pathChanged"
            v-on:copy-item="copyItem"
            v-on:cut-item="cutItem"
            v-on:paste-item="pasteItem"
            v-on:loading="loadingChanged"
            v-on:refreshed="refreshPending = false"
        ></tree>
      </v-col>
      <v-col class="mt-2">
        <v-toolbar flat dense v-if="(path && isDir)" class="pr-4 table-toolbar" style="height: 30px;">
          <breadcrumbs
              :path="path"
              :storages="storagesArray"
              :storage="activeStorage"
              v-on:storage-changed="storageChanged"
              v-on:path-changed="pathChanged"
          >
          </breadcrumbs>
          <v-spacer></v-spacer>
          <template>
            <v-chip
                class="ma-2"
                color="green"
                text-color="white"
                small>
              {{ totalCount }} items
            </v-chip>
            <v-btn icon @click="refreshPending = true">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </template>
        </v-toolbar>
        <list
            ref="list"
            :operation-option="operationOption"
            :path="path"
            :storage="activeStorage"
            :icons="icons"
            :endpoints="endpoints"
            :axios="axiosInstance"
            :refresh-pending="refreshPending"
            :filter="filter"
            v-on:read-folder-by-path="readFolderByPath"
            v-on:path-changed="pathChanged"
            v-on:copy-item="copyItem"
            v-on:cut-item="cutItem"
            v-on:paste-item="pasteItem"
            v-on:loading="loadingChanged"
            v-on:refreshed="refreshPending = false"
            v-on:file-deleted="refreshPending = true"
            style="width: 100%;"
        ></list>
      </v-col>
    </v-row>
    <upload
        v-if="uploadingFiles !== false"
        :path="path"
        :storage="activeStorage"
        :files="uploadingFiles"
        :icons="icons"
        :axios="axiosInstance"
        :endpoint="endpoints.upload"
        :max-upload-files-count="maxUploadFilesCount"
        :max-upload-file-size="maxUploadFileSize"
        v-on:add-files="addUploadingFiles"
        v-on:remove-file="removeUploadingFile"
        v-on:clear-files="uploadingFiles = []"
        v-on:cancel="uploadingFiles = false"
        v-on:uploaded="uploaded"
    ></upload>
  </v-card>
</template>

{% include 'component/fileBrowser/Confirm.html' %}
{% include 'component/fileBrowser/List.html' %}
{% include 'component/fileBrowser/Toolbar.html' %}
{% include 'component/fileBrowser/Tree.html' %}
{% include 'component/fileBrowser/Upload.html' %}
{% include 'component/fileBrowser/Breadcrumbs.html' %}

<!-- [reference](https://github.com/semeniuk/vuetify-file-browser) -->
<script>
/**
 * 关机 api 汇总
 * - list
 *  - refreshPending watch
 *  - this.$refs.tree.readFolderByPath(path);
 * - tree
 *  - path watch
 *  - this.$refs.list.load();
 */
const availableStorages = [
  {
    name: "<$ constantUiMap.btn.material $>",
    code: "local",
    icon: "mdi-file-cog"
  }
];

const endpoints = {
  list: {url: "/storage/{storage}/list?path={path}", method: "get"},
  upload: {url: "/storage/{storage}/upload?path={path}", method: "post"},
  mkdir: {url: "/storage/{storage}/mkdir?path={path}", method: "post"},
  delete: {url: "/storage/{storage}/delete?path={path}", method: "post"}
};

const fileIcons = {
  zip: "mdi-folder-zip-outline",
  rar: "mdi-folder-zip-outline",
  htm: "mdi-language-html5",
  html: "mdi-language-html5",
  js: "mdi-nodejs",
  json: "mdi-json",
  md: "mdi-markdown",
  pdf: "mdi-file-pdf",
  png: "mdi-file-image",
  jpg: "mdi-file-image",
  jpeg: "mdi-file-image",
  mp4: "mdi-filmstrip",
  mkv: "mdi-filmstrip",
  avi: "mdi-filmstrip",
  wmv: "mdi-filmstrip",
  mov: "mdi-filmstrip",
  txt: "mdi-file-document-outline",
  xls: "mdi-file-excel",
  other: "mdi-file-outline"
};

Vue.component("file-browser", {
  vuetify: new Vuetify(),
  name: 'file-browser',
  template: '#fileBrowser',
  model: {
    prop: "path",
    event: "change"
  },
  props: {
    // comma-separated list of active storage codes
    storages: {
      type: String,
      default: () => availableStorages.map(item => item.code).join(",")
    },
    // code of default storage
    storage: {type: String, default: "local"},
    // show tree view
    tree: {type: Boolean, default: true},
    // file icons set
    icons: {type: Object, default: () => fileIcons},
    // custom backend endpoints
    endpoints: {type: Object, default: () => endpoints},
    // custom axios instance
    axios: {type: Function},
    // custom configuration for internal axios instance
    axiosConfig: {
      type: Object, default: () => {
      }
    },
    // max files count to upload at once. Unlimited by default
    maxUploadFilesCount: {type: Number, default: 0},
    // max file size to upload. Unlimited by default
    maxUploadFileSize: {type: Number, default: 1024 * 1024 * 1024},
    imageMaxUploadFileSize: {type: Number, default: 700 * 1024},

    materialType: {type: String, default: ''},
    operationOption: {
      type: Object, default: () => {
        return {delete: false, copy: false, recycle: false, renameFile: false}
      }
    },
  },
  data() {
    return {
      filter: "",
      totalCount: 0,
      loading: 0,
      path: "/image/",
      activeStorage: null,
      uploadingFiles: false, // or an Array of files
      // 用于让子组件做监听，有变化时对当前目录做刷新
      refreshPending: false,
      axiosInstance: null,
      currentCopyPath: '',
      moreBtn: [{value: 'mkDir', title: '创建文件夹'}, {value: 'rename', title: '重命名'}, {
        value: 'cut',
        title: '剪切'
      }, {value: 'paste', title: '粘贴'}],
    };
  },
  computed: {
    storagesArray() {
      let storageCodes = this.storages.split(","),
          result = [];
      storageCodes.forEach(code => {
        result.push(availableStorages.find(item => item.code == code));
      });
      return result;
    },
    isMobile() {
      return window.innerWidth < 500;
    },
    isDir() {
      return this.path[this.path.length - 1] === "/";
    }
  },
  methods: {
    moreBtnAction(btn) {
      switch (btn.value) {
        case 'mkDir':
          console.log(this.$refs.toolbar);
          this.$refs.toolbar && this.$refs.toolbar.mkdir();
          break;
      }
    },
    useMaterial({path}) {
      this.$emit("use-material", {path: this.path});
    },
    closeMaterialPicker() {
      this.$emit("close-material-picker");
    },
    loadingChanged(loading) {
      if (loading) {
        this.loading++;
      } else if (this.loading > 0) {
        this.loading--;
      }
      if (!loading) {
        this.totalCount = this.$refs.list.tableData.length
      }
    },
    storageChanged(storage) {
      this.activeStorage = storage;
    },
    checkImageMaxUploadFileSize(files) {
      if (this.imageMaxUploadFileSize) {
        const checkImageSizeError = this.materialType === 'image' && files.find(
            file => file.size > this.imageMaxUploadFileSize
        )
        if (checkImageSizeError) {
          window.vtoast.fail('部分图片文件大于 700K, 请重新压缩过后再上传素材');
          files = files.filter(
              file => file.size <= this.imageMaxUploadFileSize
          );
        }
      }
    },
    addUploadingFiles(files) {
      files = Array.from(files);

      this.checkImageMaxUploadFileSize(files);

      if (this.uploadingFiles === false) {
        this.uploadingFiles = [];
      }

      if (this.maxUploadFilesCount && this.uploadingFiles.length + files.length > this.maxUploadFilesCount) {
        files = files.slice(0, this.maxUploadFilesCount - this.uploadingFiles.length);
      }

      this.uploadingFiles.push(...files);
    },
    removeUploadingFile(index) {
      this.uploadingFiles.splice(index, 1);
    },
    uploaded() {
      this.uploadingFiles = false;
      this.refreshPending = true;
    },
    pathChanged(path) {
      this.path = path;
      this.$emit("change", path);
    },
    async syncMoveOrCopyFileRequest(fromDir, toDir, filename) {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'materialManagement',
            actionId: this.pasteMode === 'cut' ? 'moveFile' : 'copyFile',
            actionData: {
              fromDir,
              toDir,
              filename,
            },
          }
        }
      });
    },
    refreshData(fromDir, toDir) {
      this.$refs.list.load();
      if (fromDir.startsWith(toDir)) {
        this.$refs.tree.readFolderByPath(toDir);
        setTimeout(() => {
          this.$refs.tree.readFolderByPath(fromDir);
        }, 2600);
      } else if (toDir.startsWith(fromDir)) {
        this.$refs.tree.readFolderByPath(fromDir);
        setTimeout(() => {
          this.$refs.tree.readFolderByPath(toDir);
        }, 2600);
      } else {
        this.$refs.tree.readFolderByPath(fromDir);
        this.$refs.tree.readFolderByPath(toDir);
      }
      if (this.pasteMode === 'cut') {
        this.currentCopyPath = null
      }
    },
    async pasteItem() {
      window.vtoast.loading(this.pasteMode === 'cut' ? '文件移动中' : '文件复制中');
      const fromDir = this.currentCopyPath.substring(0, this.currentCopyPath.lastIndexOf('/') + 1);
      const toDir = this.path;
      const filename = this.currentCopyPath.substring(this.currentCopyPath.lastIndexOf('/') + 1);
      await this.syncMoveOrCopyFileRequest(fromDir, toDir, filename);
      window.vtoast.success(this.pasteMode === 'cut' ? '文件移动成功' : '文件复制成功');
      this.refreshData(fromDir, toDir);
    },
    cutItem(path) {
      this.currentCopyPath = path
      this.pasteMode = 'cut'
      console.log('cutItem', this.currentCopyPath)
    },
    copyItem(path) {
      this.currentCopyPath = path
      this.pasteMode = 'copy'
      console.log('copyItem', this.currentCopyPath)
    },
    readFolderByPath(path) {
      this.$refs.tree.readFolderByPath(path);
    },
  },
  created() {
    this.activeStorage = this.storage;
    this.axiosInstance = this.axios || axios.create(this.axiosConfig);
  },
  mounted() {

  }
});
</script>
<style scoped>
.table-toolbar .v-toolbar__content {
  height: 30px !important;
}
</style>
