<template id="fileBrowser-toolbar">
  <div>
    <input v-show="false" style="opacity: 0; position: absolute; top: -200px" ref="inputUpload" type="file" multiple
           @change="addFiles"/>
    <div>
      <v-btn v-if="path && pathIsFloder" depressed @click="$refs.inputUpload.click()" title="Upload Files">
        <v-icon class="mr-1" small>mdi-folder-upload</v-icon>
        <$ constantUiMap.btn.upload $>
      </v-btn>
      <v-btn v-if="path && pathIsFloder && currentCopyPath" depressed @click="pasteItem()" class="ml-1"
             title="<$ constantUiMap.btn.paste $>">
        <v-icon class="mr-1" small>mdi-file-replace</v-icon>
        <$ constantUiMap.btn.paste $>
      </v-btn>
      <v-menu v-if="path && pathIsFloder" v-model="newFolderPopper" :close-on-content-click="false" :nudge-width="200"
              offset-y>
        <template v-slot:activator="{ on }">
                    <span>
                        <v-btn v-if="path" depressed color="success" v-on="on" class="ml-1">
                            <v-icon class="mr-1" small>mdi-folder-multiple-plus</v-icon>
                            <$ constantUiMap.btn.createFolder $>
                        </v-btn>
                    </span>
        </template>
        <v-card>
          <v-card-text>
            <v-text-field color="success" label="<$ constantUiMap.btn.fileName $>" v-model="newFolderName" hide-details
                          filled
                          single-line dense></v-text-field>
          </v-card-text>
          <v-card-actions>
            <div class="flex-grow-1"></div>
            <v-btn @click="newFolderPopper = false" depressed small><$ constantUiMap.btn.cancel $></v-btn>
            <v-btn color="success" :disabled="!newFolderName" depressed @click="mkdir" small><$ constantUiMap.btn.create
              $>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
      <v-btn v-if="!operationOption.recycle && !pathIsFloder" depressed color="success" @click="useMaterial"
             class="ml-1">
        <v-icon class="mr-1" small>mdi-check</v-icon>
        <$ constantUiMap.btn.use $>
      </v-btn>
    </div>
  </div>
</template>

<script>
Vue.component("toolbar", {
  vuetify: new Vuetify(),
  name: 'toolbar',
  template: '#fileBrowser-toolbar',
  props: {
    storages: Array,
    storage: String,
    path: String,
    endpoints: Object,
    axios: Function,
    operationOption: Object,
    currentCopyPath: String,
  },
  data() {
    return {
      newFolderPopper: false,
      newFolderName: ""
    };
  },
  computed: {
    pathIsFloder() {
      return this.path[this.path.length - 1] === "/";
    },
    pathSegments() {
      let path = "/";
      let isFolder = this.path[this.path.length - 1] === "/";
      let segments = this.path.split("/").filter(item => item);

      segments = segments.map((item, index) => {
        path += item + (index < segments.length - 1 || isFolder ? "/" : "");
        return {
          name: item,
          path
        };
      });

      return segments;
    },
    storageObject() {
      return this.storages.find(item => item.code == this.storage);
    }
  },
  methods: {
    useMaterial({path}) {
      this.$emit("use-material", {path: this.path});
    },
    closePicker({path}) {
      this.$emit("close-material-picker");
    },
    changeStorage(code) {
      if (this.storage != code) {
        this.$emit("storage-changed", code);
        this.$emit("path-changed", "");
      }
    },
    changePath(path) {
      this.$emit("path-changed", path);
    },
    goUp() {
      let segments = this.pathSegments;
      let path;
      if (segments.length === 1)
        path = "/";
      else
        path = segments[segments.length - 2].path
      this.changePath(path);
    },
    async addFiles(event) {
      this.$emit("add-files", event.target.files);
      this.$refs.inputUpload.value = "";
    },
    async mkdir() {
      this.$emit("loading", true);
      await this.syncMkdirRequest();
      this.$emit("folder-created", this.newFolderName);
      this.newFolderPopper = false;
      this.newFolderName = "";
      this.$emit("loading", false);
    },
    async syncMkdirRequest() {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'materialManagement',
            actionId: 'mkdir',
            actionData: {path: this.path + this.newFolderName},
          }
        }
      })
    },
    clearRecycle() {
      debugger
    },
    cutItem() {
      this.$emit("cut-item", this.path);
    },
    pasteItem() {
      this.$emit("paste-item", this.path);
    },
    copyItem() {
      this.$emit("copy-item", this.path);
    },
  }
});
</script>

<style scoped>
.storage-select-list .v-list-item--disabled {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.storage-select-list .v-list-item--disabled .v-icon {
  color: #fff;
}

.v-breadcrumbs {
  margin-top: -3px;
}
</style>
