<template id="form-item-list-generator">
  <div class="d-flex form-item-list-generator-content">
    <div class="componentList">
      <div class="left-component-item-title">
        <v-icon>mdi-puzzle-outline</v-icon>
        组件
      </div>
      <draggable 
        :group="{ name: 'componentGroup', pull: 'clone', put: false }"
        :list="componentList" 
        draggable=".left-component-item" 
        :clone="cloneComponent" 
        @end="leftComponentDraggableOnEnd">
          <div class="left-component-item"
              v-for="(component, index) in componentList" :key="index"
              @click="addFormItem(component)">
              <div class="left-component-item-body">
                <v-icon small class="mr-1">{{ component.icon }}</v-icon>
                {{ component.title }}
              </div>
          </div>
      </draggable>
    </div>

    <div class="formItemList">
      <v-card class="ml-1 mr-1">
        <v-toolbar dense flat>
            <v-btn icon @click.stop="emptyCanva">
              <v-icon color="grey lighten-1" dark>mdi-delete-empty</v-icon>
            </v-btn>
        </v-toolbar>
        <draggable
          v-if="formItemList.length > 0"
          :list="formItemList"
          :animation="300"
          group="componentGroup">
          <v-hover v-for="(formItem, index) in formItemList" :key="index" v-slot:default="{ hover }">
            <v-card
                @click.native="formItemSelect(formItem.id)"
                :elevation="hover ? 12 : 2"
                :class="['ma-2', selectedFormItemId === formItem.id && !hover ? 'formItem-selected' : 'formItem-body']"
                dense>
                <v-list-item>
                    
                    <v-list-item-content v-if="formItem.component.type === 'singleSelect'">
                      <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
                      <v-radio-group v-model="formItem.answerData.selected">
                        <v-radio v-for="(option, optionIndex) in formItem.component.property.selectOptionList" 
                          :key="optionIndex" :label="option.value" :value="option.value"></v-radio>
                      </v-radio-group>                                
                    </v-list-item-content>
                    
                    <v-list-item-content v-if="formItem.component.type === 'multipleSelect'">
                      <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
                      <div v-for="(option, optionIndex) in formItem.component.property.selectOptionList" :key="optionIndex">
                        <v-checkbox style="margin-top: 0px;" v-model="formItem.answerData[option.value]" :label="option.value" hide-details color="red"></v-checkbox>
                      </div> 
                    </v-list-item-content>
                    
                    <v-list-item-content v-if="formItem.component.type === 'questionAnswer'">
                      <v-list-item-title class="formItem-title">{{ index+1 }}、 {{ formItem.component.outline }}</v-list-item-title>
                      <v-row>
                        <v-col cols="12">
                          <v-textarea dense outlined placeholder="请输入答案" v-model="formItem.answerData.answer" :rows="4"/>
                        </v-col>
                      </v-row>
                    </v-list-item-content> 

                    <v-list-item-action v-if="selectedFormItemId === formItem.id" class="justify-start">
                        <v-btn x-small icon @click.stop="formItemCopy(index, formItem)">
                            <v-icon color="primary">mdi-content-duplicate</v-icon>
                        </v-btn>
                        <v-btn x-small icon @click.stop="formItemDelete(formItem.id)">
                            <v-icon color="error">mdi-close-box</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
            </v-card>
          </v-hover>
        </draggable>
        <v-row v-else>
          <v-col cols="12">
              <v-row align="center" justify="center">
                  <v-card height="100" width="600" class="ma-12">
                      <draggable :list="formItemList" :animation="300" group="componentGroup">
                          <v-card-text class="text-center title">
                              从左侧拖入或点选组件进行表单设计
                          </v-card-text>
                      </draggable>
                  </v-card>
              </v-row>
          </v-col>
        </v-row>
      </v-card>
    </div>

    <div class="property">
      <div class="property-title">
        <v-icon>mdi-application-edit-outline</v-icon>组件属性
      </div>
      <div v-if="selectCanvaIndex >= 0 && formItemList[selectCanvaIndex]">
        {{ selectCanvaIndex + 1 }}、 {{ formItemList[selectCanvaIndex].component.title}}
        <v-card flat v-if="formItemList[selectCanvaIndex].component.type === 'singleSelect' || formItemList[selectCanvaIndex].component.type === 'multipleSelect'">
          <v-row no-gutters>
            <v-col cols="12">
              <v-expansion-panels focusable multiple v-model="rightPanels">
                <v-expansion-panel>
                  <v-expansion-panel-header>
                    题纲
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-textarea v-model="formItemList[selectCanvaIndex].component.outline" dense outlined placeholder="请输入题纲" 
                      :rows="6"/>
                  </v-expansion-panel-content>    
                </v-expansion-panel>  
                <v-expansion-panel>
                  <v-expansion-panel-header>
                    选项列表
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                      <v-list-item>
                        <v-list-item-content></v-list-item-content>
                        <v-list-item-action>
                          <v-btn icon @click.stop="propertyAddOption(0)">
                            <v-icon dark color="grey lighten-1">mdi-plus-box</v-icon>
                          </v-btn> 
                        </v-list-item-action>
                      </v-list-item>

                      <v-list>
                        <v-list-item dense v-for="(option, index) in formItemList[selectCanvaIndex].component.property.selectOptionList" :key="index">
                          <v-list-item-content>
                            <v-text-field
                              v-model="option.value"
                              label="选项"
                              outlined
                              dense
                              hide-details
                              clearable
                              placeholder="请输入选项"/>
                          </v-list-item-content>
                          <v-list-item-action>
                            <v-btn icon @click.stop="propertyDeleteOption(index)">
                              <v-icon color="grey lighten-1" dark>mdi-delete</v-icon>
                            </v-btn>                                
                            <v-btn icon @click.stop="propertyAddOption(index+1)">
                              <v-icon dark color="grey lighten-1">mdi-plus-box</v-icon>
                            </v-btn>
                          </v-list-item-action>
                        </v-list-item>
                      </v-list>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
          </v-row>  
        </v-card>
        <v-card flat v-if="formItemList[selectCanvaIndex].component.type === 'questionAnswer'">
          <v-expansion-panels focusable multiple v-model="rightPanels">
            <v-expansion-panel>
              <v-expansion-panel-header>
                题纲
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-textarea v-model="formItemList[selectCanvaIndex].component.outline" 
                  dense outlined placeholder="请输入题纲" 
                  :rows="8"/>
              </v-expansion-panel-content>    
            </v-expansion-panel>  
          </v-expansion-panels>  
        </v-card>
      </div>
    </div>        
    
  </div>

</template>

<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

<script>
// 1. v-main 滚动条
// 2. v-navigation-drawer 小屏幕 不要关闭
  Vue.component("form-item-list-generator", {
    template: '#form-item-list-generator',
    vuetify: new Vuetify(),
    name: 'form-item-list-generator',
    props: {
        formItemList: {
          type: Array,
          default: [],
          required: true,
        },
    },  
    data: () => ({
      componentList: [
        { title: '单选', type: 'singleSelect', outline: '单选题 题纲', property: { selectOptionList: [] }, icon: 'mdi-checkbox-marked-circle' },
        { title: '多选', type: 'multipleSelect', outline: '多选题 题纲', property: { selectOptionList: [] }, icon: 'mdi-checkbox-marked' },
        { title: '问答', type: 'questionAnswer', outline: '问答题 题纲', property: {}, icon: 'mdi-form-textarea' },
      ],
      tempComponent: null,
      
      // https://blog.csdn.net/xuqingbo6686/article/details/51178206
      // { id: 'singleSelect_E9AUwBjhm', component: {}, formItemData: {} }
      //       formItemList: [
      //         { 
      //           id: 'singleSelect_E9AUwBjhm', 
      //           component: { 
      //             title: '单选', type: 'singleSelect', outline: '二进制语言是属于', 
      //             property: { selectOptionList: [{ value: '面向机器语言' }, { value: '面向问题语言' }, { value: '面向过程语言' }, { value: '面向汇编语言' }] }, icon: 'mdi-checkbox-marked-circle' 
      //           }, 
      //           formItemData: {} 
      //         },
      //         { 
      //           id: 'multipleSelect_19AU34Bjhm', 
      //           component: { 
      //             title: '多选', type: 'multipleSelect', outline: '下列字符列中，不是用来表达转义字符是', 
      //             property: { selectOptionList: [{ value: "\\\\" }, { value: "\\'" }, { value: "074" }, { value: "\\0" }] }, icon: 'mdi-checkbox-marked-circle' 
      //           }, 
      //           formItemData: {} 
      //         },
      //         { 
      //           id: 'questionAnswer_43AU34Bjhm', 
      //           component: { 
      //             title: '问答', type: 'questionAnswer', outline: `实现 strStr() 函数。
      // 给你两个字符串 haystack 和 needle ，请你在 haystack 字符串中找出 needle 字符串出现的第一个位置（下标从 0 开始）。如果不存在，则返回  -1 。
      // 说明：

      // 当 needle 是空字符串时，我们应当返回什么值呢？这是一个在面试中很好的问题。

      // 对于本题而言，当 needle 是空字符串时我们应当返回 0 。这与 C 语言的 strstr() 以及 Java 的 indexOf() 定义相符。
      // 著作权归领扣网络所有。商业转载请联系官方授权，非商业转载请注明出处。
      // `, 
      //             property: {}, icon: 'mdi-checkbox-marked-circle' 
      //           }, 
      //           formItemData: {} 
      //         }
      //       ],
      selectedFormItemId: null,
      rightPanels: [0,1,2,3,4],  
    }),
    computed: {
      selectCanvaIndex () {
        const index = this.formItemList.findIndex(item => item.id === this.selectedFormItemId);
        return index;
      },
    },
    mounted() {
    },    
    destroyed() {},
    watch: {
    },
    async created() {},
    methods: {
      cloneComponent (component) {
        this.tempComponent = component;
      },
      leftComponentDraggableOnEnd (event) {
        if (event.from !== event.to) {
          const newIndex = event.newIndex;
          this.addFormItem(this.tempComponent, newIndex);
        }
        this.tempComponent = null;
      },
      addFormItem(component, targetIndex) {
        const { type } = component;
        const formItem = {
          id: `${type}_${this.uuid(8)}`,
          component: _.cloneDeep(component),
          answerData: {},
        };
        if (!this.formItemList) {
          this.formItemList = [];
        }
        if (targetIndex > -1) {
          this.formItemList.splice(targetIndex, 0, formItem);
        } else {
          this.formItemList.push(formItem);
        }
      },
      formItemSelect (id) {
        this.selectedFormItemId = id;
      },
      formItemCopy (index, formItem) {
        const newFormItem = _.cloneDeep(formItem);
        newFormItem.id = `${newFormItem.component.type}_${this.uuid(8)}`,
        this.formItemList.splice(index+1, 0, newFormItem); 
      },
      emptyCanva () {
        this.formItemList.splice(0, this.formItemList.length); 
      },
      formItemDelete (id) {
        const index = this.formItemList.findIndex((item) => item.id === id); 
        if (index > -1) { 
          this.formItemList.splice(index, 1); 
        } 
      },
      propertyAddOption (index) {
        this.formItemList[this.selectCanvaIndex].component.property.selectOptionList.splice(index, 0, { value: "" });
      }, 
      propertyDeleteOption (index) {
        this.formItemList[this.selectCanvaIndex].component.property.selectOptionList.splice(index, 1);
      },
      uuid (t=21) {
        let e="",r=crypto.getRandomValues(new Uint8Array(t));
        for(;t--;){let n=63&r[t];e+=n<36?n.toString(36):n<62?(n-26).toString(36).toUpperCase():n<63?"_":"-"};
        return e
      },
      getFormItemList () {
        return this.formItemList;
      },
    },
  })
</script>

<style scoped>
.form-item-list-generator-content {
  align-items: stretch;
}
  
.componentList {
  padding: 8px;
  box-sizing: border-box;
  width: 256px;
  overflow-y: scroll;
  max-height: calc(100vh - 105px);
}
.left-component-item {
  width: 100%;
  margin: 1%;
  transition: transform 0ms !important;
}
.left-component-item-title {
    font-size: 14px;
    color: #222;
    margin: 6px 2px;
}
.left-component-item-body {
    padding: 8px 10px;
    background: #e0e0e0;
    font-size: 12px;
    cursor: move;
    border: 1px dashed #e0e0e0;
    border-radius: 3px;
}
.left-component-item-body:hover {
  border: 1px dashed #1565c0;
  background: #e3f2fd;
  color: #1565c0;
}
.left-component-item-body:hover .v-icon {
  color: #1565c0;
}

.formItemList {
  flex: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 105px);
}
.formItemList .v-card {
    border: 1px dashed #999 !important;
}
.formItemList .formItem-selected {
    border: 1px dashed #1565c0 !important;
    background: #e3f2fd;
}
.formItem-title {
  white-space: normal;
}

.property {
  width: 360px;
  overflow-y: scroll;
  max-height: calc(100vh - 105px);
}
.property .v-expansion-panel .v-expansion-panel-header {
  min-height: auto;
}
.property .v-expansion-panel-content__wrap {
  padding: 0px;
}

.property .v-expansion-panel .v-list-item__action, .v-list-item__avatar, .v-list-item__icon {
  display: inline-block;
  min-width: 24px;
}

</style>